<body>

<div class="container">
    <h2 class="center">Shopping Cart</h2>
    <form action="/pizzacart" method="POST">
        <table class='center'>
                <tr>
                    <td>Small Pizza</td>
                    <td><button class="btn1 addBtn1" type="submit"><i class="fas fa-plus-circle"></i></button></td>
                    <td><span class="smallQty">{{smallPizzaQty}}</span></td>
                    <td><button class="btn1 subBtn1" type="submit"><i class="fas fa-minus-circle"></i></button></td>
                    <td><span>R<span class="totalSmallPizza">{{smallCost}}}}</span> </span></td>
                </tr>

                <tr>
                    <td>Medium Pizza</td>
                    <td><button class="btn1 addBtn2" type="submit"><i class="fas fa-plus-circle"></i></button></td>
                    <td><span class="mediumQty">{{medPizzaQty}}</span></td>
                    <td><button class="btn1 subBtn2" type="submit"><i class="fas fa-minus-circle"></i></button></td>
                    <td><span>R<span class="totalMediumPizza">{{medCost}}</span> </span></td>
                </tr>

                <tr>
                    <td>Large Pizza</td>
                    <td><button class="btn1 addBtn3" type="submit"><i class="fas fa-plus-circle"></i></button></td>
                    <td><span class="largeQty">{{largePizzaQty}}</span></td>
                    <td><button class="btn1 subBtn3" type="submit"><i class="fas fa-minus-circle"></i></button></td>
                    <td><span>R<span class="totalLargePizza">{{largeCost}}</span> </span></td>
                </tr>

                <tr>
                    <td>Total Cost:</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span>R<span class="cartTotal">{{totalCart}}</span> </span></td>
                </tr>
                <tr>
                    <td colspan="5"><button class="btn2 checkout hidden" type="submit">Checkout</button></td>
                </tr>
                <tr>
                    <td colspan="5" class="hidden message center">Message goes here</td>
                </tr>
            </table>

    <div class="payOut">
        <form action="/pay" method="POST">
            <table class="hidden payAmount center">
                <tr>
                    <td>Payment Amount: <input type="number" class="paymentAmount" value="{{paymentAmount}}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="paymentAmount" type="submit">Pay</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>